# Data Cleaning and Importing

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import the Data

In [28]:
listing_df = pd.read_csv("original_data/listings.csv")
listing_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [29]:
listing_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

## Basic Data Cleaning

In [30]:
listing_df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,0.000000e+00,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [31]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [32]:
print("The shape of listing DataFrame: ", listing_df.shape)

The shape of listing DataFrame:  (3585, 95)

In [33]:
null_value = listing_df.isnull().sum()
null_column = null_value[null_value > 0]
print("Columns with null columns: ", len(null_column))
null_column

Columns with null columns:  44

summary                          143
space                           1057
neighborhood_overview           1415
notes                           1975
transit                         1290
access                          1489
interaction                     1554
house_rules                     1192
thumbnail_url                    599
medium_url                       599
xl_picture_url                   599
host_location                     11
host_about                      1309
host_response_time               471
host_response_rate               471
host_acceptance_rate             471
host_neighbourhood               339
neighbourhood                    543
neighbourhood_group_cleansed    3585
city                               2
zipcode                           38
market                            14
property_type                      3
bathrooms                         14
bedrooms                          10
beds                               9
square_feet                     3529
weekly_price                    2693
monthly_price                   2697
security_deposit                2243
cleaning_fee                    1107
has_availability                3585
first_review                     756
last_review                      756
review_scores_rating             813
review_scores_accuracy           823
review_scores_cleanliness        818
review_scores_checkin            820
review_scores_communication      818
review_scores_location           822
review_scores_value              821
license                         3585
jurisdiction_names              3585
reviews_per_month                756
dtype: int64

In [34]:
drop_columns = null_column[null_column > 1200]
print("Columns to be dropped: ", len(drop_columns))
print(drop_columns)

listing_df.drop(drop_columns.index, axis=1, inplace=True)

Columns to be dropped:  14
neighborhood_overview           1415
notes                           1975
transit                         1290
access                          1489
interaction                     1554
host_about                      1309
neighbourhood_group_cleansed    3585
square_feet                     3529
weekly_price                    2693
monthly_price                   2697
security_deposit                2243
has_availability                3585
license                         3585
jurisdiction_names              3585
dtype: int64

In [35]:
# Fill missing values with different strategies

# For text data
listing_df['summary'] = listing_df['summary'].fillna("No information provided")
listing_df['space'] = listing_df['space'].fillna("No information provided")
listing_df['house_rules'] = listing_df['house_rules'].fillna("No house rules provided")
listing_df['host_location'] = listing_df['host_location'].fillna("Unknown")
listing_df['thumbnail_url'] = listing_df['thumbnail_url'].fillna("")
listing_df['medium_url'] = listing_df['medium_url'].fillna("")
listing_df['xl_picture_url'] = listing_df['xl_picture_url'].fillna("")

# For numerical data
listing_df['host_response_rate'] = (
    listing_df['host_response_rate']
    .str.rstrip('%')
    .astype(float) / 100
)
listing_df['host_response_rate'] = listing_df['host_response_rate'].fillna(listing_df['host_response_rate'].median())
listing_df['review_scores_rating'] = listing_df['review_scores_rating'].fillna(listing_df['review_scores_rating'].median())

# For categorical data
listing_df['property_type'] = listing_df['property_type'].fillna("Other")
listing_df['neighbourhood'] = listing_df['neighbourhood'].fillna("Unknown")
listing_df['market'] = listing_df['market'].fillna("Unknown")
listing_df['city'] = listing_df['city'].fillna("Unknown")
listing_df['zipcode'] = listing_df['zipcode'].fillna("Unknown")

# For host response time
listing_df['host_response_time'] = listing_df['host_response_time'].fillna("unknown")

In [36]:
# Null columns after the first round of cleaning
null_value = listing_df.isnull().sum()
null_column = null_value[null_value > 0]
print("Columns with null columns: ", len(null_column))
null_column

Columns with null columns:  15

host_acceptance_rate            471
host_neighbourhood              339
bathrooms                        14
bedrooms                         10
beds                              9
cleaning_fee                   1107
first_review                    756
last_review                     756
review_scores_accuracy          823
review_scores_cleanliness       818
review_scores_checkin           820
review_scores_communication     818
review_scores_location          822
review_scores_value             821
reviews_per_month               756
dtype: int64

## Normalize the table

### Availability Table

In [37]:
availability_table = listing_df[["id", "availability_30", "availability_90"]].rename(
    columns={
        "id": "listing_id",
        "availability_30": "availability_30",
        "availability_90": "availability_90",
    }
)
print("The shape of availability table: ", availability_table.shape)
availability_table.head()

The shape of availability table:  (3585, 3)

   listing_id  availability_30  availability_90
0    12147973                0                0
1     3075044               26               84
2        6976               19               61
3     1436513                6               26
4     7651065               13               59

### Description Table

In [38]:
description_table = listing_df[["id", "summary", "description"]].rename(
    columns={
        "id": "listing_id",
        "summary": "summary",
        "description": "description",
    }
)
print("The shape of description table: ", description_table.shape)
description_table.head()

The shape of description table:  (3585, 3)

,listing_id,summary,description
0,12147973,"Cozy, sunny, family home. Master bedroom high...","Cozy, sunny, family home. Master bedroom high..."
1,3075044,Charming and quiet room in a second floor 1910...,Charming and quiet room in a second floor 1910...
2,6976,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ..."
3,1436513,Come experience the comforts of home away from...,Come experience the comforts of home away from...
4,7651065,"My comfy, clean and relaxing home is one block...","My comfy, clean and relaxing home is one block..."

### Neighborhood Table

In [39]:
neighborhood_table = listing_df[["neighbourhood_cleansed"]].drop_duplicates().reset_index(drop=True)
neighborhood_table["neighborhood_id"] = neighborhood_table.index + 1
print("The shape of neighborhood table: ", neighborhood_table.shape)
neighborhood_table.head()

The shape of neighborhood table:  (25, 2)

  neighbourhood_cleansed  neighborhood_id
0             Roslindale                1
1          Jamaica Plain                2
2           Mission Hill                3
3  Longwood Medical Area                4
4            Bay Village                5

In [40]:
# Add Neighborhood Foreign key to listing_df
listing_df = listing_df.merge(neighborhood_table, on="neighbourhood_cleansed", how="left")
listing_df[['id', 'neighbourhood_cleansed', 'neighborhood_id']].head()

         id neighbourhood_cleansed  neighborhood_id
0  12147973             Roslindale                1
1   3075044             Roslindale                1
2      6976             Roslindale                1
3   1436513             Roslindale                1
4   7651065             Roslindale                1

### PropertyType Table

In [46]:
# PropertyType 表
property_table = listing_df[["property_type"]].drop_duplicates().reset_index(drop=True)
property_table["property_id"] = property_table.index + 1
print("The shape of property table: ", property_table.shape)
property_table.head()

The shape of property table:  (13, 2)

     property_type  property_id
0            House            1
1        Apartment            2
2      Condominium            3
3            Villa            4
4  Bed & Breakfast            5

In [42]:
# # Add PropertyType Foreign key to listing_df
listing_df = listing_df.merge(property_table, on="property_type", how="left")
listing_df[['id', 'property_type', 'property_id']].head()

         id property_type  property_id
0  12147973         House            1
1   3075044     Apartment            2
2      6976     Apartment            2
3   1436513         House            1
4   7651065         House            1

### Review Table

In [43]:
# Review Table
review_table = listing_df[["id", "number_of_reviews", "review_scores_rating", "reviews_per_month"]].rename(
    columns={
        "id": "listing_id",
        "number_of_reviews": "number_of_reviews",
        "review_scores_rating": "review_scores_rating",
        "reviews_per_month": "reviews_per_month",
    }
)
review_table.head()

   listing_id  number_of_reviews  review_scores_rating  reviews_per_month
0    12147973                  0                  94.0                NaN
1     3075044                 36                  94.0               1.30
2        6976                 41                  98.0               0.47
3     1436513                  1                 100.0               1.00
4     7651065                 29                  99.0               2.25

### Listings Table

In [47]:
# Add Property Foreign key to listing_df
listing_df = listing_df.merge(property_table, on="property_type", how="left")

# Normalize Listings table
listings_table = listing_df[[
    "id", "name", "property_id", "host_id", "neighborhood_id", "zipcode",
    "accommodates", "bedrooms", "minimum_nights", "price", "availability_30", "availability_90"
]].drop_duplicates().reset_index(drop=True)
print("The shape of Listings table: ", listings_table.shape)
listings_table.head()

The shape of Listings table:  (3585, 12)

,id,name,property_id,host_id,neighborhood_id,zipcode,accommodates,bedrooms,minimum_nights,price,availability_30,availability_90
0,12147973,Sunny Bungalow in the City,1,31303940,1,02131,4,2.0,2,$250.00,0,0
1,3075044,Charming room in pet friendly apt,2,2572247,1,02131,2,1.0,2,$65.00,26,84
2,6976,Mexican Folk Art Haven in Boston,2,16701,1,02131,2,1.0,3,$65.00,19,61
3,1436513,Spacious Sunny Bedroom Suite in Historic Home,1,6031442,1,Unknown,4,1.0,1,$75.00,6,26
4,7651065,Come Home to Boston,1,15396970,1,02131,2,1.0,2,$79.00,13,59

### Host Table

In [48]:
host_table = listing_df[[
    "host_id", "host_name", "host_since", "host_response_rate",
    "host_acceptance_rate", "host_is_superhost",
    "host_total_listings_count", "neighborhood_id"
]].drop_duplicates().reset_index(drop=True)
print("The shape of Host table: ", host_table.shape)
host_table.head()

The shape of Host table:  (2346, 8)

,host_id,host_name,host_since,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,neighborhood_id
0,31303940,Virginia,2015-04-15,1.0,NaN,f,1,1
1,2572247,Andrea,2012-06-07,1.0,100%,f,1,1
2,16701,Phil,2009-05-11,1.0,88%,t,1,1
3,6031442,Meghna,2013-04-21,1.0,50%,f,1,1
4,15396970,Linda,2014-05-11,1.0,100%,t,1,1

### Calendar Table

In [49]:
calendar_df = pd.read_csv("original_data/calendar.csv")
calendar_df.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

## Export the Data

In [44]:
# availability_table.to_csv('availability_table.csv', index=False)
# description_table.to_csv('description_table.csv', index=False)
# neighborhood_table.to_csv('neighborhood_table.csv', index=False)
# property_table.to_csv('property_type_table.csv', index=False)
# review_table.to_csv('review_table.csv', index=False)
listings_table.to_csv('listings_table.csv', index=False)
host_table.to_csv('host_table.csv', index=False)

print("All tables are exported successfully!")

All tables are exported successfully!